<ion-header>
    <ion-navbar color="color1">
        <ion-title>Iniciar sesión</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <form [formGroup]="formularioUsuario" novalidate>
        <img style="height: 194px;
    display: block;
    margin: auto;" src="../../assets/imgs/img.png">
        <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input name="correo" formControlName="correo" [(ngModel)]="Correo" style="font-size: 15px" type="mail"></ion-input>
        </ion-item>
        <ion-item *ngIf="formularioUsuario.get('correo').errors && formularioUsuario.get('correo').dirty">
            <p *ngIf="formularioUsuario.get('correo').hasError('required')" class="error">
                El correo es requerido.
            </p>
            <p *ngIf="formularioUsuario.get('correo').hasError('pattern')" class="error">
                El correo electronico indicado no es valido.
            </p>

        </ion-item>


        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="password" [(ngModel)]="Contrasena" style="font-size: 15px" type="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="formularioUsuario.get('password').errors && formularioUsuario.get('password').dirty">
            <p *ngIf="formularioUsuario.get('password').hasError('required')" class="error">
                La contraseña es requerida.
            </p>
            <p *ngIf="formularioUsuario.get('password').hasError('pattern')" class="error">No es una contraseña segurra</p>
        </ion-item>

        <button (click)="gologin()" [disabled]="!formularioUsuario.valid" class="button" ion-button>Iniciar</button>
    </form>





</ion-content>