<ion-header>

    <ion-navbar color="color1">
        <ion-title>Rol</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div (click)="persona()" style="height: 45vh; background-color: #FB8C00">
        <ion-icon style="
        color: white;
        font-size: 10em;
        display: block;
        margin: auto;
        top: 24%;
        position: relative;
    " name="custom-mobile"></ion-icon>
        <h1 style="
        color: white;
        text-align: center;
        top: 24%;
        position: relative;
    ">Usuario</h1>
    </div>

    <div (click)="trabajador()" style="height: 45vh;">
        <ion-icon style="
    color: #FB8C00;
    font-size: 10em;
    display: block;
    margin: auto;
    top: 7%;
    position: relative;
" name="custom-qrcode"></ion-icon>
        <h1 style="
    color: #FB8C00;
    text-align: center;
    top: 10%;
    position: relative;
">Trabajador</h1>
    </div>

</ion-content>