<ion-content padding>
 <img class="imagenLogo" src="../../assets/imgs/Logoapp.png">
 <img style="margin-top: 20%" src="../../assets/imgs/img.png"> 
 <p style="bottom: 52px;text-align: center;position: relative;">
  Facil, sencillo y MultiServicios
</p>

<button (click)="goregistro()" class="button" ion-button  >Registrarse</button>
<p style="text-align: center">¿Ya tienes una cuenta?</p>
<P (click)="gologin()" style="text-align: center; color: #FB8D30;">Iniciar sesion</P>
</ion-content>
