page-home {
        .button{
            text-transform: capitalize;
             margin:auto;
             display:block;
              border-radius: 10px; 
              background-color: #FB8D30;
               color:white;
               bottom: 25px;
               padding: 21px 55px
        }
        .imagenLogo{
            top: 20px;
            width: 44%;
            display: block;
            margin: auto;
            position: relative;
        }
}
