<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="color1">
            <ion-title>Opciones</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item>
              Inicio
            </button>
            <button ion-item>
              Mostrar Clientes
            </button>
            <button ion-item>
              Mostrar Trabajadores
            </button>
            <button (click)="cerrar()" ion-item>
              Cerrar sesión
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]=""></ion-nav>

<ion-header>

    <ion-navbar color="color1">

        <ion-title>
            <ion-icon (click)="openMenu()" name="menu"></ion-icon> <span style="padding: 0px 32%;">Stax</span> </ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</ion-content>