<ion-header>

    <ion-navbar color="color1">
        <ion-title>registro</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <form *ngIf="mostrarUsario" class="bounceInLeft" [formGroup]="formularioUsuario" novalidate>
        <img style="display: block;margin:auto;width: 47%;" src="../../assets/imgs/Logoapp.png">
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input name="nombre" formControlName="nombre" [(ngModel)]="Nombre" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="formularioUsuario.get('nombre').errors && formularioUsuario.get('nombre').dirty">
            <p *ngIf="formularioUsuario.get('nombre').hasError('required')" class="error">
                El nombre es requerido.
            </p>
            <p *ngIf="formularioUsuario.get('nombre').hasError('minlength')" class="error">
                El minimo de caracteres permitidos es 3.
            </p>
            <p *ngIf="formularioUsuario.get('nombre').hasError('maxlength')" class="error">
                El maximo de caracteres permitidos es 30.
            </p>
        </ion-item>


        <ion-item>
            <ion-label floating>Apellido</ion-label>
            <ion-input name="direccion" formControlName="direccion" [(ngModel)]="Apellido" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="formularioUsuario.get('direccion').errors && formularioUsuario.get('direccion').dirty">
            <p *ngIf="formularioUsuario.get('direccion').hasError('required')" class="error">
                El Correo es requerido.
            </p>
            <p *ngIf="formularioUsuario.get('direccion').hasError('minlength')" class="error">
                El minimo de caracteres permitidos es 3.
            </p>
            <p *ngIf="formularioUsuario.get('direccion').hasError('maxlength')" class="error">
                El maximo de caracteres permitidos es 100.
            </p>
        </ion-item>


        <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input name="correo" formControlName="correo" [(ngModel)]="Correo" style="font-size: 15px" type="mail"></ion-input>
        </ion-item>
        <ion-item *ngIf="formularioUsuario.get('correo').errors && formularioUsuario.get('correo').dirty">
            <p *ngIf="formularioUsuario.get('correo').hasError('required')" class="error">
                El correo es requerido.
            </p>
            <p *ngIf="formularioUsuario.get('correo').hasError('pattern')" class="error">
                El correo electronico indicado no es valido.
            </p>

        </ion-item>


        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="numero_contacto" [(ngModel)]="Contrasena" style="font-size: 15px" type="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="formularioUsuario.get('numero_contacto').errors && formularioUsuario.get('numero_contacto').dirty">
            <p *ngIf="formularioUsuario.get('numero_contacto').hasError('required')" class="error">
                La contraseña es requerida.
            </p>
            <p *ngIf="formularioUsuario.get('numero_contacto').hasError('pattern')" class="error">No es una contraseña segurra</p>
        </ion-item>

        <div style="
        display: block;
        width: 208px;
        margin: auto;
    " class="padding">
            <button ion-button block type="button" (click)="goregistro()" [disabled]="!formularioUsuario.valid">Registrarse</button>
        </div>

    </form>







    <form *ngIf="mostrarTrabajador" [formGroup]="Myform" novalidate>
        <img style="display: block;margin:auto;width: 47%;" src="../../assets/imgs/Logoapp.png">
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input name="nombre" formControlName="nombre" [(ngModel)]="Nombre" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="Myform.get('nombre').errors && Myform.get('nombre').dirty">
            <p *ngIf="Myform.get('nombre').hasError('required')" class="error">
                El nombre es requerido.
            </p>
            <p *ngIf="Myform.get('nombre').hasError('minlength')" class="error">
                El minimo de caracteres permitidos es 3.
            </p>
            <p *ngIf="Myform.get('nombre').hasError('maxlength')" class="error">
                El maximo de caracteres permitidos es 30.
            </p>
        </ion-item>


        <ion-item>
            <ion-label floating>Apellido</ion-label>
            <ion-input name="direccion" formControlName="direccion" [(ngModel)]="Apellido" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="Myform.get('direccion').errors && Myform.get('direccion').dirty">
            <p *ngIf="Myform.get('direccion').hasError('required')" class="error">
                El Correo es requerido.
            </p>
            <p *ngIf="Myform.get('direccion').hasError('minlength')" class="error">
                El minimo de caracteres permitidos es 3.
            </p>
            <p *ngIf="Myform.get('direccion').hasError('maxlength')" class="error">
                El maximo de caracteres permitidos es 100.
            </p>
        </ion-item>


        <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input name="correo" formControlName="correo" [(ngModel)]="Correo" style="font-size: 15px" type="mail"></ion-input>
        </ion-item>
        <ion-item *ngIf="Myform.get('correo').errors && Myform.get('correo').dirty">
            <p *ngIf="Myform.get('correo').hasError('required')" class="error">
                El correo es requerido.
            </p>
            <p *ngIf="Myform.get('correo').hasError('pattern')" class="error">
                El correo electronico indicado no es valido.
            </p>

        </ion-item>
        <br>
        <ion-item>
            <ion-label>Profesion</ion-label>
            <ion-select formControlName="tipo_contacto" [(ngModel)]="id">
                <ion-option *ngFor="let item of trabajador.usuario" [value]="item.id">{{item.nombre}}</ion-option>
            </ion-select>
        </ion-item>



        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="numero_contacto" [(ngModel)]="Contrasena" style="font-size: 15px" type="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="Myform.get('numero_contacto').errors && Myform.get('numero_contacto').dirty">
            <p *ngIf="Myform.get('numero_contacto').hasError('required')" class="error">
                La contraseña es requerida.
            </p>
            <p *ngIf="Myform.get('numero_contacto').hasError('pattern')" class="error">No es una contraseña segurra</p>
        </ion-item>

        <div style="
        display: block;
        width: 208px;
        margin: auto;
    " class="padding">
            <button ion-button block type="button" (click)="goregistro()" [disabled]="!Myform.valid">Registrarse</button>
        </div>

    </form>



</ion-content>