page-registro {

    .error{
        color:red;
    }
    .button{
        text-transform: capitalize;
         margin:auto;
         display:block;
          border-radius: 10px; 
          background-color: #FB8D30;
           color:white;
           top:32px;
           padding: 21px 55px
    }
    .imagenLogo{
        top: 64px;width: 44%;
        display: block;
        margin: auto;
        position: relative;
    }
    .item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating],
{
color: #E65100 !important;
}
}
